---
- name: Allowing already established connections
  ansible.builtin.iptables:
    chain: INPUT
    match: conntrack
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Allowing loopback interface
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Opening ports
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_ports:
      - "22"
      - "80"
      - "443"
    jump: ACCEPT

- name: Allowing ICMP
  ansible.builtin.iptables:
    chain: INPUT
    protocol: icmp
    jump: ACCEPT

- name: Setting DROP policy for others in INPUT
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP
